/* 1. Bear Pic Two richtig ausrichten (Responsive)
3. Gesamte Website Responsive machen
4. Die beiden animierten Schriftzüge einfügen */
/* General-------------------------------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: "Larish Neue";
    src: url("../font/LarishNeueSemibold.woff");
}

@font-face {
    font-family: "Larish Neue 2";
    src: url("../font/Larish\ Neue\ Semibold.woff2");
}

body {
    margin: 0;
}

p {
    margin: 0;
}

/* Section-1-------------------------------------------------------------------------------------------------------------------------- */

/* Finde eine Lösung für h1 span (nur die Umrandung weiß) */

#vertical-line {
    width: 1px;
    height: 150px;
    background-color: white;
    position: absolute;
    top: 0;
}

#intro {
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#intro p {
    font-family: 'Work Sans', sans-serif;
}

#intro h1 {
    font-family: "Larish Neue";
    font-size: 6rem;
    margin: 0;
}

#intro-footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    width: 90%;
    justify-content: space-between;
}

#intro-footer img {
    float: left;
}

#intro-footer a {
    border: white solid 1px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    float: right;
}

#intro-footer a:hover {
    border: white solid 1px;
    background-color: white;
    color: black;
}
#calling {
    color: black;
    -webkit-text-stroke: 2px white;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */

#stats {
    /* height: 160vh; */
    background-color: #000;
    color: white;
    background-image: url(../img/map.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 37%;
}

#stats p {
    font-size: 6em;
    width: 60%;
    margin: 0 0 0 10vw;
    line-height: 0.8;
}

#stats-numbers {
    margin-top: 100px;
    /*Ändere ggf. die Unit wegen responsiveness*/
}

#stats-numbers span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------- */

#middle h1 {
    font-family: "Larish Neue";
    font-size: 5rem;
    margin: 20vh 0 0 30vw;
}

#middle p {
    width: 30vw;
    margin-left: 30vw;
    font-family: 'Work Sans', sans-serif;
}

#middle p:nth-of-type(2) {
    margin-top: 190px;
    margin-bottom: 100px;
}

.action-images {
    /* width: 300px; */
    width: 20%;
}

#action-1 {
    margin-left: 75%;
    margin-top: -40px;
}
#action-2 {
    margin-left: 7%;
    margin-top: 100px;
}
#action-3 {
    margin-left: 80%;
    margin-top: 50px;
}
#action-4 {
    margin-left: 20%;
    margin-top: 20px;
}
#action-5 {
    margin-left: 65vw;
    margin-top: 30px;
}
#action-6 {
    margin-top: -90px;
}
#action-7 {
    margin-left: 28%;
    margin-bottom: -75px;
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
#golden-bear {
    background-color: black;
}
#golden-bear div {
    display: flex;
    justify-content: space-around;
}

#golden-bear h1 {
    color: white;
    font-size: 6rem;
    margin-top: 100px;
}
#golden-bear h1 span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}
#golden-bear p {
    color: white;
    font-size: 2rem;
    width: 40%;
    margin-top: 200px;
}
#golden-bear p span {
    color: white;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
}
#golden-bear-pic-one {
    width: 50%;
    margin-left: 15%;
    margin-bottom: -100px;
}
#golden-bear-pic-two {
    position: absolute;
    width: 25%;
    margin-left: 60%;
    /* margin-bottom: 100px; */
    margin-top: 130px;
    /* z-index: 1; */
}
/* ------------------------------------------------------------------------------------------------------------------------------- */
#poppy-bear {
    background-color: white;
    margin-bottom: 100px;
    overflow: hidden;
}
#rotate {
    animation: rotate 5s infinite linear;
    width: 40%;
    margin-left: 77%;
    margin-top: -170px;
    
}
@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
#container-poppy-bear {
    display: flex;
    justify-content: space-around;
}

#poppy-bear h1 {
    color: black;
    font-size: 6rem;
    margin-top: 40px;
}
#poppy-bear h1 span {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
}
#poppy-bear p {
    color: black;
    font-size: 2rem;
    width: 40%;
    margin-top: 163px;
}
#poppy-bear p span {
    color: black;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
}
/* #container-rosebear {
    position: relative;
} */
#rosebear-big {
    width: 50%;
    /* position: absolute; */
    margin-top: -70px;
    margin-left: 45%;
}
#rosebear-small {
    width: 30%;
    /* position: absolute; */
    margin-bottom: -635px;
    margin-left: 20%;
    position: absolute;
    z-index: 1;
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* #banner {
    font-size: 5rem;
    background-color: white;
} */
#outro {
    background: black;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
section #banner-div{ 
    font-size: 4rem;
    color: black;
    background-color: white;
    height: 100px;
    width: 1000px;
    transform: rotateZ(45deg);
    position: absolute;
    top: 30%;
    right: -15%;
}
section div #banner{ 
    font-size: 4rem;
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    animation: banner 5s infinite linear;
}
section div #banner span{ 
    font-size: 4rem;
    font-family: "Larish Neue 2";
    -webkit-text-stroke: 2px black;
}
@keyframes banner {
    0%{
        left: 0;
    }
    50% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

#outro p {
    color: white;
    font-size: 2.5rem;
    width: 40%;
    margin-bottom: 30px;
    position: absolute;
    left: 5%;
    top: 5%;
}
#outro p span {
    color: white;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
}
#outro a {
    border: white solid 1px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    left: 5%;
    bottom: 40%;
}
#outro a:hover {
    border: white solid 1px;
    background-color: white;
    color: black;
}
i {
    color: gray;
}
#outro p:nth-of-type(2) {
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 10px;
    position: absolute;
    left: 5%;
    top: 90%;
}
#logo-footer {
    position: absolute;
    bottom: 5%;
    right: 0%;
}
#logo-footer img {
    width: 20%;
    /* float: right; */
}

#social-media {
    color: white;
    position: absolute;
    bottom: 11%;
    left: 5%;
}

/* Media-Queries------------------------------------------------------------------------------------------------------------------------- */

@media(max-width: 580px) {
    * {
        color: green;
    }
    #intro h1 {
        font-size: 3rem;
    }
}